# Dependency directories
/node_modules

# TypeScript output directories
/dist
/out

# Editor-specific files and directories
/.vscode
/.idea
*.sublime-*
*.swp
*.swo

# Environment configuration files
.env
.env.*

# Build artifacts and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
*.log

# IDE-specific files
/.vs
/.idea

# OS-specific files
.DS_Store
Thumbs.db
